* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body, #root {
    height: 100%;
}