server:
  port: ${PORT:8081}
  servlet:
    context-path: /api
  http2:
    enabled: true
  compression:
    enabled: true
    min-response-size: 1024

spring:
  mongodb:
    uri: mongodb://admin:password123@localhost:27020/projetnosql?authSource=admin
  servlet:
    encoding:
      charset: UTF-8
      force: true
